{% extends "admin/layouts/edit.twig" %}

{% block scripts %}
<script type="text/javascript" src="/media/admin/js/ckeditor/ckeditor.js?{{ site_version }}"></script>
<script type="text/javascript" src="/media/admin/js/ckeditor/adapters/jquery.js?{{ site_version }}"></script>
{% endblock %}

{% block content_title %}Редактирование страницы "{{ page.title|lower }}"{% endblock %}

{% block admin_edit_fields %}
<input type="hidden" name="page[id]" value="{{ page.id }}" />
{% include 'admin/userpage/fields.twig' %}
{% endblock %}

{% block admin_edit_back_url %}/admin/artists{% endblock %}
{% block admin_edit_action_save %}{% endblock %}

{% set admin_edit_preview_url = '/admin/userpage/preview' %}