{% import "admin/layouts/macros.twig" as admin %}

{{ admin.admin_edit_form_row  ('page[title]', 'Заголовок', page.title, 'text') }}
{{ admin.admin_edit_form_row  ('page[uri]', 'Адрес страницы', page.uri, 'text', '', [], {'prefix': 'http://' ~ domain ~ '/'}) }}
{{ admin.admin_edit_form_row  ('page[content]', 'Содержимое страницы', page.content, 'textarea') }}
{{ admin.admin_edit_form_row  ('page[hidden]', 'Скрыть страницу', page.hidden, 'bool') }}