{% extends "base.twig" %}

{% block head_title %} - {{ artist.name }}{% endblock %}

{% block body_title %}<span>{{ artist.name }}</span>{% endblock %}

{% block content %}
<div id="left-side">
    {% if artist.image_key %}<img id="avatar" src="/image/artists/avatar/{{ artist.image_key }}"/>{%  endif %}
    <div id="about_artist">
    {% autoescape false %}{{ artist.about }}{% endautoescape %}
    </div>
</div>

<div id="gallery">
    {% include "pictures.twig" %}
    <div class="loader"></div>
</div>

<div style="clear: both;"></div>

<script type="text/javascript">
    galleryOffset = 1;
    galleryLoading = false;
    galleryTotal = {{total}};
    slug = "{{slug}}";

    $('#gallery .feed').show ();

    $(document).scroll (function (e) {
        if (!galleryLoading && galleryOffset < galleryTotal
                && $(document).scrollTop() + $(window).height() + 700 >= $(document).height ()
                ) {
            galleryLoading = true;
            $('#gallery .loader').show ();

            $.get('/artist/' + slug + '/' + (galleryOffset++), function (data) {
                data = $(data);
                dataCount = data.length;
                data.load (function () {
                    $(this).fadeIn ();

                    if (--dataCount <= 0) {
                        galleryLoading = false;
                        $('#gallery .loader').hide ();
                    }
                });

                data.insertBefore ($('#gallery .loader'));
            });
        }
    });
</script>

{% endblock %}