<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Доски-Краски{% block head_title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/media/style.css?{{ site_version }}" />
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="/media/ie7.css?{{ site_version }}"/>
    <![endif]-->

    <script src="/media/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/media/js/common.js?{{ site_version }}" type="text/javascript"></script>
    {% block after_script %}{% endblock %}
</head>
<body>
    <div id="body-wrapper">
        {%  block body_header %}
        <div id="header">
            <h1 id="main-title">
                <a href="/" id="logo"><img src="/media/images/logo.png" alt="Доски-Краски"></a>
                {% block body_title %}{% endblock %}
            </h1>
            <div style="clear: both"></div>
        </div>
        {%  endblock %}

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div id="footer">
            <div class="left">
                <a href="/">ДОСКИ-КРАСКИ</a> &nbsp; &copy; &nbsp; 2014
            </div>

            <div class="right">
                <a href="http://bigmilk.ru" target="_blank">
                    {#<img id="bigmilk-logo" src="http://bigmilk.ru/bigmilk-100.png" alt="Студия BigMilk">#}
                    Сделано в Big Milk
                </a>
            </div>

            <div class="center">
                <ul id="main-menu" class="center">
                    {% for uri, data in main_menu %}
                        {% if data.title is defined %}<li><a href="/{{ uri }}" class="{{ data.class }}{% if main_menu_current == uri %}current{% endif %}">{{ data.title|lower }}</a></li>
                        {% else %}<li><a href="/{{ uri }}" {% if main_menu_current == uri %}class="current"{% endif %}>{{ data|lower }}</a></li>
                        {% endif %}<li>|</li>
                    {% endfor %}
                    <li><a href="http://vk.com/club43113178" target="_blank">вконтакте</a></li>
                    <li>|</li>
                    <li><a href="https://www.facebook.com/DoskiKraski" target="_blank">facebook</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter21520366 = new Ya.Metrika({id:21520366, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/21520366" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
</body>
</html>