{% extends "base.twig" %}

{% block head_title %} - {{ event.name }}{% endblock %}

{% block body_title %}<span>{{ event.name }}</span>{% endblock %}

{% block content %}
<div id="left-side">
    <h2>Участники</h2>
    <ul class="artists">{% for artist in artists %}
        <li>/ <a href="/artist/{{ artist.slug }}">{{ artist.name }}</a> </li>
    {% endfor %}</ul>
</div>

<div id="userpage" class="left-offset">
    {% autoescape false %}{{ event.content }}{% endautoescape %}
</div>

{% endblock %}