{% extends "base.twig" %}

{% block head_title %} - {{ title }}{% endblock %}

{% block body_title %}<span>{{ title }}</span>{% endblock %}

{% block content %}
<div id="left-side" class="wide">
    <h2>Выставки</h2>
    <ul class="events">
    {%  for event in exhibitions %}
        <li>/<a href="/event/{{ event.slug }}">{{ event.name }}</a></li>
    {%  endfor %}
    </ul>
</div>
<div id="right-side" class="wide">
    <h2>Фестивали</h2>
    <ul class="events">
        {%  for event in festivals %}
            <li>/<a href="/event/{{ event.slug }}">{{ event.name }}</a></li>
        {%  endfor %}
    </ul>
</div>

<div id="sponsors">
    {% for s in sponsors %}
    <a href="http://{{ s.url }}" target="_blank" title="{{ s.name }}"><img src="/image/sponsors/sponsor_main/{{ s.image_key }}" alt="{{ s.name }}"></a>
    {%  endfor  %}
</div>

{% endblock %}