{% extends "base.twig" %}

{% block body_header %}{% endblock %}

{% block content %}
<div id="left-side">
    <ul class="events">
    {%  for event in left_events %}
        <li>/<a href="/event/{{ event.slug }}">{{ event.name }}</a></li>
    {%  endfor %}
        <li>/<a href="/fests">Фестивали & Выставки</a></li>
    </ul>
</div>
<div id="right-side">
    <ul class="events">
        {%  for event in right_events %}
            <li>/<a href="/event/{{ event.slug }}">{{ event.name }}</a></li>
        {%  endfor %}
    </ul>
</div>

<div id="main-feed">
    {{ content | raw }}
</div>

<div id="sponsors">
    {% for s in sponsors %}
    <a href="http://{{ s.url }}" target="_blank" title="{{ s.name }}"><img src="/image/sponsors/sponsor_main/{{ s.image_key }}" alt="{{ s.name }}"></a>
    {%  endfor  %}
</div>

{% endblock %}