{% if paginator is defined %}
{% if paginator.total > 1 %}
{% if paginator.current < 4 %}{% set paginator_start = 1 %}{% else %}{% set paginator_start = paginator.current - 3 %}{% endif %}
{% if paginator.current > paginator.total - 4 %}{% set paginator_end = paginator.total %}{% else %}{% set paginator_end = paginator.current + 3 %}{% endif %}

{% for i in paginator_start..paginator_end %}
{% if i == paginator.current %}
<li>{{ i }}</li>
{% elseif i == 1 %}
<li><a href="{{ paginator.first }}">{{ i }}</a></li>
{% else %}
<li><a href="{{ paginator.uri }}{{ i }}">{{ i }}</a></li>
{% endif %}
{% endfor %}
{% endif %}
{% endif %}