{% extends "base.twig" %}

{% block head_title %} - При поддержке{% endblock %}

{% block body_title %}<span>При поддержке</span>{% endblock %}

{% block content %}
<div id="userpage" class="sponsors">
    {% for s in sponsors %}
    <h2>{{ s.name }}</h2>
    <img src="/image/sponsors/sponsor_big/{{ s.image_key }}" alt="{{ s.name }}"/>
    {% if s.url %}<p class="url"><a href="http://{{ s.url }}" target="_blank">http://{{ s.url }}</a></p>{%  endif %}
    {% if s.phone %}<p class="phone">{{ s.phone }}</p>{%  endif %}
    {% if s.address %}<p class="address"><a href="http://maps.yandex.ru/?text={{ s.address|url_encode }}" title="Посмотреть на карте" target="_blank">{{ s.address }}</a></p>{%  endif %}
    {% if s.working_time %}<p class="working_time">{{ s.working_time }}</p>{%  endif %}
    {% if s.about %}<p class="about">{% autoescape false %}{{ s.about|replace({'\n': "<br/>"}) }}{% endautoescape %}</p>{%  endif %}
    {% endfor %}
    <div style="clear:both;"></div>
</div>
{% endblock %}