{% extends "base.twig" %}

{% block head_title %} - {{title}}{% endblock %}

{% block body_title %}<span>{{ title }}</span>{% endblock %}

{% block content %}
<div id="userpage">
    {% autoescape false %}{{ content }}{% endautoescape %}
    <div style="clear:both;"></div>
</div>
{% endblock %}