{% extends "admin/layouts/edit.twig" %}
{% import "admin/layouts/macros.twig" as admin %}

{% block scripts %}
    <script type="text/javascript" src="/media/admin/js/ckeditor/ckeditor.js?{{ site_version }}"></script>
    <script type="text/javascript" src="/media/admin/js/ckeditor/adapters/jquery.js?{{ site_version }}"></script>
{% endblock %}

{% block content_title %}Редактирование спонсора {{ data.name }}{% endblock %}

{% block admin_edit_id %}<input type="hidden" name="data[id]" value="{{ data.id }}" />{% endblock %}

{% block admin_edit_fields %}
{% include 'admin/sponsor/fields.twig' %}
{% endblock %}

{% block admin_edit_back_url %}/admin/sponsors{% endblock %}