{% import "admin/layouts/macros.twig" as admin %}

{{ admin.admin_edit_form_errors  (errors) }}

{{ admin.admin_edit_form_row  ('image', 'Фотка', data.image_key ? '/image/sponsors/admin_edit/' ~ data.image_key : '', 'image') }}
{{ admin.admin_edit_form_row  ('data[visible]', 'Виден на сайте', data.visible, 'bool') }}
{{ admin.admin_edit_form_row  ('data[name]', 'Имя', data.name, 'text') }}
{{ admin.admin_edit_form_row  ('data[url]', 'Сайт', data.url, 'text', '', [], {'prefix': 'http://'}) }}
{{ admin.admin_edit_form_row  ('data[phone]', 'Телефон', data.phone, 'text') }}
{{ admin.admin_edit_form_row  ('data[address]', 'Адрес', data.address, 'text') }}
{{ admin.admin_edit_form_row  ('data[working_time]', 'Время работы', data.working_time, 'text') }}
{{ admin.admin_edit_form_row  ('data[about]', 'Описание', data.about, 'textarea') }}