{% extends "admin/layouts/list.twig" %}
{% import "admin/layouts/macros.twig" as admin %}

{% set empty_flag = data is empty %}

{% block content_title %}Список спонсоров{% endblock %}

{% block admin_list_empty %}
<div id="empty_list">Вы пока не добавляли ни одного спонсора! Хотите <a href="/admin/sponsors/add">добавить</a> первого?</div>
{% endblock %}

{% block admin_list_actions %}
<ul class="admin_actions">
    <li><input class="admin_action_create" value="создать" type="button" onclick="document.location.href='/admin/sponsors/add';"></li>
</ul>
{% endblock %}

{% block admin_list_head %}
    {{ admin.admin_list_head_row ('photo', 'Фотка') }}
    {{ admin.admin_list_head_row ('name', 'Имя') }}
    {{ admin.admin_list_head_row ('visible', 'Виден на сайте') }}
    {{ admin.admin_list_head_row ('actions', 'Действия') }}
{% endblock %}

{% block admin_list_body %}
    {% for item in data %}
    {{ admin.admin_list_body_row (
        {
            'image'  : item.image_key ? "<img src='/image/sponsors/admin_list/" ~ item.image_key ~ "' />" : "",
            'name'  : item.name,
            'visible' : admin.admin_bool_toggle (item.visible == 1, '/admin/sponsors/' ~ item.id ~ '/visible'),
        },
        ['image', 'name'],
        {
            'edit' : {
                'title' : 'редактировать',
                'uri'   : '/admin/sponsors/' ~ item.id ~ '/edit'
            },

            'delete' : {
                'title' : 'удалить',
                'uri'   : '/admin/sponsors/' ~ item.id ~ '/delete'
            },

            'up' : {
                'title' : 'переместить вверх',
                'uri'   : '/admin/sponsors/up/' ~ item.id,
                'icon'  : 'up_icon.gif',
                'class' : 'order_action_up',
            },

            'down' : {
                'title' : 'переместить вниз',
                'uri'   : '/admin/sponsors/down/' ~ item.id,
                'icon'  : 'down_icon.gif',
                'class' : 'order_action_down',
            },
        },
        loop.index % 2
    ) }}
    {% endfor %}
{% endblock %}
