#admin_container ul, #admin_container ol, #admin_container li, #admin_container h1, #admin_container h2, #admin_container h3, #admin_container h4, #admin_container h5, #admin_container h6, #admin_container pre, #admin_container form, #admin_container body, #admin_container html, #admin_container p, #admin_container blockquote, #admin_container fieldset, #admin_container input { margin: 0; padding: 0; }
#admin_container a img,:link img,:visited img { border: none; }

#admin_container a:link, #admin_container a:visited
{
  text-decoration: none;
}

#admin_container a:hover
{
  text-decoration: underline;
}

#admin_container > div > table td
{
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  background-color: #fff;
}

#admin_container > table tr td > table td
{
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  background-color: #fff;
}

#admin_container p
{
  margin-bottom: 5px;
}

#admin_container #admin_bar
{
  margin-top: 8px;
  position: absolute;
  right: 20px;
  width: 250px;
}

#admin_container #admin_content
{
  margin-right: 270px;
}

#admin_container h1
{
  margin: 8px 0;
  padding: 3px;
  padding-left: 0px;
  color: #555;
  font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
  font-size: 25px;
}

#admin_container fieldset h2
{
  padding: 3px;
  color: #333;
  background-color: #ccf;
  font-size: 11px;
}

#admin_container input, #admin_container textarea, #admin_container select
{
  padding: 3px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  border: 1px solid #ddd;
}

#admin_container label
{
  display: block;
  padding: 0 1em 3px 0;
  float: left;
  text-align: left;
  width: 6em;
  color: #666;
  font-weight: normal !important;
}

#admin_container label.required
{
  color: #333 !important;
  font-weight: bold !important;
}

#admin_container .admin_filters input[type="checkbox"] + label
{
  display: inline;
  float: none;
}

#admin_container .save-ok
{
  margin-bottom: 10px;
  border: 1px solid #73B65A;
}

#admin_container .save-ok h2
{
  margin: 0 !important;
  padding: 5px 20px 5px 25px;
  font-size: 11px;
  color: #fff;
  background: #73B65A url(images/ok.png) no-repeat 5px 2px;
}

#admin_container .form-row
{
  clear: both;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#admin_container .form-row .content
{
  padding-left: 8em;
}

#admin_container .form-errors
{
  margin-bottom: 10px;
  border: 1px solid #f33;
  background-color: #ffc;
  margin: 10px;
  padding: 6px;
}

#admin_container .form-errors h2
{
  padding: 5px 20px 5px 25px;
  font-size: 11px;
  color: #fff;
  background: #f33 url(images/error.png) no-repeat 5px 2px;
}

#admin_container .form-errors dl
{
  padding: 5px;
}

#admin_container .form-errors dt
{
  font-weight: bold;
  float: left;
  padding-right: 5px;
}

#admin_container .form-errors dd
{
  margin: 0;
}

#admin_container .form-error
{
  color: #f33;
}

#admin_container .form-error input, #admin_container .form-error select, #admin_container .form-error textarea
{
  border: 1px solid #f33;
}

#admin_container fieldset
{
  margin-bottom: 3px;
  border: 1px solid #ddd;
  border-bottom: 0px;
  background-color: #fff;
}

#admin_container fieldset.collapsed * { display:none; }
#admin_container fieldset.collapsed h2, #admin_container fieldset.collapsed { display:block !important; }
#admin_container fieldset.collapsed .collapse-toggle { display: inline !important; }
#admin_container fieldset.collapse h2 a.collapse-toggle { color:#ffc; }
#admin_container fieldset.collapse h2 a.collapse-toggle:hover { text-decoration:underline; }

#admin_container .float-left
{
  float: left;
}

#admin_container .float-right
{
  float: right;
}

#admin_container ul.admin_td_actions
{
  list-style-type: none;
}

#admin_container ul.admin_td_actions li
{
  list-style-type: none;
  display: inline;
}

#admin_container ul.admin_actions
{
  margin: 10px 0;
  list-style-type: none;
  text-align: right;
}

#admin_container ul.admin_actions a
{
  color: #333;
}

#admin_container ul.admin_actions li
{
  list-style-type: none;
  display: inline;
}

#admin_container ul.admin_actions input
{
  padding: 3px 3px 3px 20px;
  color: #333;
  font-size: 11px;
  font-family: Arial, sans-serif;
  border: 0px;
  border-right: 4px solid #999;
  background-color: #ffc;
  cursor: hand;
  cursor: pointer;
}

#admin_container .admin_action_create
{
  background: url(images/add.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
}

#admin_container .admin_action_save
{
  background: url(images/save.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
}

#admin_container .admin_action_save_and_add
{
  background: url(images/save.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
}

#admin_container .admin_action_save_and_list
{
  background: url(images/save.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
}

#admin_container .admin_action_delete
{
  background: url(images/delete.png) no-repeat 3px 2px;
  border-right: 4px solid #E75C58 !important;
}

#admin_container .admin_action_cancel
{
  background: url(images/cancel.png) no-repeat 3px 2px;
  border-right: 4px solid #E75C58 !important;
}

#admin_container .admin_action_filter
{
  background: url(images/filter.png) no-repeat 3px 2px;
  border-right: 4px solid #66f !important;
}

#admin_container .admin_action_reset_filter
{
  background: url(images/reset.png) no-repeat 3px 2px;
  border-right: 4px solid #E75C58 !important;
}

#admin_container .admin_action_list
{
  background: url(images/list.png) no-repeat 3px 2px;
  border-right: 4px solid #66f !important;
}

#admin_container .admin_action_preview
{
    background: url(images/preview.png) no-repeat 3px 2px;
    border-right: 4px solid #66f !important;
}

#admin_container .admin_default_action
{
  background-color: #fc6 !important;
  font-weight: bold !important;
}

#admin_container .admin_list
{
  width: 100%;
  border: 1px solid #ddd;
  border-bottom: 0px;
  border-right: 0px;
}

#admin_container .admin_list th
{
  padding: 2px;
  background-color: #ccf;
  text-align: left;
}

#admin_container .admin_list th a
{
  color: #333;
}

#admin_container .admin_list td
{
  padding: 3px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#admin_container .admin_filters li
{
  list-style-type: none;
}

#admin_container .admin_row_0 td
{
  
}

#admin_container .admin_row_1 td
{
  background-color: #eef;
}

#admin_container .admin_edit_help
{
  color: #aaa;
}

#admin_container .mceEditor td
{
  padding: 0;
}

#admin_container select.admin_multiple, #admin_container select.admin_multiple-selected
{
  width: 12em;
}

#admin_container ul.admin_checklist li
{
  list-style: none;
  line-height: 1.5em;
}

#admin_container ul.admin_checklist li label
{
  display: inline;
  float: none;
}

#admin_edit_form div.admin_multiple label
{
  width: 12em;
}

#admin_edit_form div.admin_multiple label input
{
    margin-right: 5px;
    vertical-align: top;
}