body {
    background: #b0c4de;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    font-size: 12px;
    min-width: 800px;
    position: relative;
}

a:link, a:visited { text-decoration: underline; color: #0068a6; }
a:hover { color: #0d3c58; }

a.green { background: #4D4 !important; color: #001858 !important; }
a.green:hover { background: #6E6 !important; color: #001858 !important; }

ul.admin_menu { padding: 10px; list-style-type: none; font-size: 11px; }
li.admin_mainitem { display: block; float: left; padding: 0; margin: 0 1px; }
li.admin_mainitem a { display: block; padding: 4px 8px 0; background-color: #fff; height: 20px; text-decoration: none }
li.admin_mainitem a:hover, li.admin_mainitem.current a { background-color:#ffc; color: #000; }

ul.admin_submenu { list-style-type: none; padding: 2px 0px; font-size: 11px; }
li.admin_subitem { display: block; padding: 0px; margin: 0px; }
li.admin_subitem a, li.admin_subitem span { display: block; padding: 5px 7px 0px; background-color: #fff; height: 20px; }
li.admin_subitem a:hover { display: block; height: 20px; padding: 5px 7px 0px; background-color:#ffc; color: #000; }

#user-block {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    margin-right: 20px;
}

#user-block p {
    margin: 3px 0;
}

a#made-by {
    font-size: 10px;
    margin: 0 10px 10px 0;
    border: 0;
    text-align: right;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 50px;
    right: 18px;
}

a#made-by:hover {
    color: #444;
}

a#made-by p {
    margin: 0;
}