{% extends "admin/gallery/base.twig" %}
{% import "admin/layouts/macros.twig" as admin %}

{% block content_title %}Добавление работы{% endblock %}

{% block admin_content %}
<form id="admin_edit_form" name="admin_edit_form" method="post" enctype="multipart/form-data" action="">
<input type="hidden" name="picture[artist]" value="{{ artist }}">

<fieldset id="fieldset_none" class="">
{% include 'admin/gallery/fields.twig' %}
</fieldset>

<ul class="admin_actions">
    <li><input class="admin_action_list" value="отмена" type="button" onclick="document.location.href='/admin/artists/{{ artist }}/gallery';"></li>
    <li><input type="submit" name="save" value="применить" class="admin_action_save"></li>
    <li><input type="submit" name="save_and_list" value="сохранить" class="admin_action_save_and_list"></li>
</ul>

</form>
{% endblock %}