<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/media/admin/style.css?{{ site_version }}" media="all" type="text/css" />
    <link rel="stylesheet" href="/media/admin/admin.css?{{ site_version }}" media="all" type="text/css" />

    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/media/admin/js/common.js?{{ site_version }}"></script>
    {% block scripts %}{% endblock %}
    <style>body { background: none }</style>
</head>
<body style="min-width: 0;">
    <div id="admin_container">
        <h1>{% block content_title %}{% endblock %}</h1>

        <div id="admin_header">
            {% block admin_header %}{% endblock %}
        </div>

        <div id="admin_bar">
            {% block admin_bar %}{% endblock %}
        </div>

        <div id="admin_content" style="margin-right: 0;">
            {% block admin_content %}{% endblock %}
        </div>

        <div id="admin_footer">
            {% block admin_footer %}{% endblock %}
        </div>
    </div>
</body>
</html>