{% import "admin/layouts/macros.twig" as admin %}

{{ admin.admin_edit_form_errors  (errors) }}

{{ admin.admin_edit_form_row  ('image', 'Фотка', picture.image_key ? '/image/gallery/admin_edit/' ~ picture.image_key : '', 'image') }}
{{ admin.admin_edit_form_row  ('picture[title]', 'Название', picture.title, 'text') }}
{{ admin.admin_edit_form_row  ('picture[description]', 'Описание', picture.description, 'textarea') }}