{% extends "admin/gallery/base.twig" %}
{% import "admin/layouts/macros.twig" as admin %}

{% block admin_header %}
<ul class="admin_actions" style="float: right;">
    <li><input class="admin_action_create" value="создать" type="button" onclick="document.location.href='/admin/artists/{{ artist }}/gallery/add';"></li>
</ul>
{% endblock %}

{% block admin_content %}
<table cellspacing="0" class="admin_list">
<thead>
    <tr>
        {{ admin.admin_list_head_row ('photo', 'Фотка') }}
        {{ admin.admin_list_head_row ('title', 'Название') }}
        {{ admin.admin_list_head_row ('actions', 'Действия') }}
    </tr>
</thead>

<tfoot>
    <tr>{% block admin_list_foot %}{% endblock %}</tr>
</tfoot>
<tbody>
    {% for picture in gallery %}
    {{ admin.admin_list_body_row (
        {
            'image'  : "<img src='/image/gallery/admin_list/" ~ picture.image_key ~ "' />",
            'title'  : picture.title,
        },
        ['title', 'image'],
        {
            'edit' : {
                'title' : 'редактировать',
                'uri'   : '/admin/artists/' ~ artist ~ '/gallery/edit/' ~ picture.id
            },

            'delete' : {
                'title' : 'удалить',
                'uri'   : '/admin/artists/' ~ artist ~ '/gallery/delete/' ~ picture.id
            },

            'up' : {
                'title' : 'переместить вверх',
                'uri'   : '/admin/artists/' ~ artist ~ '/gallery/up/' ~ picture.id,
                'icon'  : 'up_icon.gif',
                'class' : 'order_action_up',
            },

            'down' : {
                'title' : 'переместить вниз',
                'uri'   : '/admin/artists/' ~ artist ~ '/gallery/down/' ~ picture.id,
                'icon'  : 'down_icon.gif',
                'class' : 'order_action_down',
            },
        },
        loop.index % 2
    ) }}
    {% endfor %}
</tbody>
</table>
{% endblock %}