a {
    color: black;
    outline: none;
    border: none;
}

a:hover, a.button.back {
    border-bottom: 1px dashed #666;
}

.loader {
    filter: alpha(opacity='60');
}

#catalog_thumbs a:hover img {
    border: 2px solid black;
    margin: -2px;
}