@font-face {
    font-family: EuroStyle;
    src: url(/media/eurostylenormal.eot);
}

@font-face {
    font-family: EuroStyle;
    src: local('EuroStyle'),
        local('euro-style'),
        url(/media/eurostylenormal.otf) format("opentype");
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font: 16px arial, sans-serif;
    overflow-y: scroll;
}

body, #header, #footer {
    background: white;
}

a {
    text-decoration: none;
    color: inherit;
}

a img {
    border: 0;
}

a:hover, a.button.back {
}

a:hover {
    color: #666;
}

.loader {
    position: absolute;
    background: black url(images/ajax-loader.gif) no-repeat center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    opacity: 0.6;
}

#body-wrapper {
    overflow: hidden;
    position: relative;
    margin: auto;
    width: 900px;
    height: auto !important;
    height: 645px;
    min-height:645px;
}

#main-title {
    font: normal 48px EuroStyle, sans-serif;
    margin: 0;
    line-height: 90px;
    text-transform: uppercase;
}

#main-title a#logo {
    float: left;
    line-height: 0;
    margin-right: 10px;
}

#main-title span:before {
    content: "/";
}

#main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-menu li {
    display: inline;
    padding: 0 5px 0 0;
}

#main-menu li a {
    font-family: "Myriad Pro", Calibri;
    text-transform: uppercase;
}

#header {
    border-bottom: solid black 3px;
    width: 900px;
    z-index: 100;
    position: fixed;
    padding-bottom: 10px;
    height: 90px;
}

#content {
    clear: both;
    margin: auto;
    padding: 25px 0;
    position: relative;
}

#left-side  { float: left; }
#right-side { float: right; }
#left-side, #right-side {
    position: relative;
    width: 220px;
    overflow: hidden;
}

#left-side.wide, #right-side.wide {
    width: 420px;
}

#left-side > .wrapper, #right-side > .wrapper {
    position: relative;
}

#left-side h2, #right-side h2 {
    font-family: EuroStyle, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.popup-menu {
    top: 0;
    left: -220px;
    position: absolute;
    width: 220px;
    display: none;
}

#right-side .popup-menu {
    left: 100%;
}

.popup-menu > .header {
    margin-top: 0;
    text-align: center;
    cursor: pointer;
}

.popup-menu > .close:before {
    content: "\00d7";
}
.popup-menu > .close {
    font-size: 22px;
    position: absolute;
    top: -20px;
    right: 3px;
    cursor: pointer;
}

.popup-menu .events a:hover {
    color: #ccc;
}

ul.artists, ul.events {
    text-transform: uppercase;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
}

ul.artists li, ul.events li {
    font: normal 24px EuroStyle, sans-serif;
    letter-spacing: 1px;
}

ul.events {
    text-align: center;
}

ul.events li {
    margin: 15px 0;
}

ul.artists li {
    font-size: 14px;
    display: inline;
}

#main-feed {
    position: relative;
    width: 450px;
    margin: -40px auto auto;
    text-align: center;
}

#avatar {
    border: solid black 2px;
    width: 200px;
    height: 200px;
}

#about_artist {
    padding-left: 2px;
}

#gallery, .left-offset {
    margin-left: 250px;
}

#gallery .loader {
    height: 450px;
    position: relative;
}

#userpage {
    word-wrap: break-word;
}

#sponsors {
    clear: both;
    margin-top: 30px;
    text-align: center;
}

#sponsors img {
    margin: 0 10px;
}

#userpage p {
    margin: auto;
}

#userpage.sponsors p {
    margin: 10px 0;
}

#userpage.sponsors p.url a {
    font-weight: bold;
    text-decoration: underline;
}

#userpage.sponsors p.working_time,
#userpage.sponsors p.phone {
    font-size: small;
    font-weight: bold;
    color: #808080;
}

#userpage.sponsors p.address {
    font-weight: bold;
}

#artists ul {
    list-style: none;
    font-weight: bold;
}

#artists li {

}

#paginator {
    clear: both;
    float: right;
    list-style: none;
    padding: 0 3px;
    margin: 15px 0 5px 0;
    font-size: 13px;
    width: 350px;
}

#paginator li {
    display: inline;
    margin: 0 3px;
}

#footer {
    border-top: solid black 3px;
    width: 900px;
    z-index: 100;
    position: fixed;
    bottom: 0;
    height: 20px;
    font: 12px "Myriad Pro", Calibri;
    padding-top: 10px;
    text-transform: uppercase;
}

#footer .left {
    float: left;
}

#footer .right {
    float: right;
}

#footer .center {
    margin: auto;
    text-align: center;
}

a#made-by {
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    color: inherit;
    border: 0;
    display: block;
    text-align: center;
}