{% extends "admin/base.twig" %}

{% block admin_content %}
<form id="admin_edit_form" name="admin_edit_form" method="post" enctype="multipart/form-data" action="">
{% block admin_edit_id %}{% endblock %}

<fieldset id="fieldset_none" class="">
{% block admin_edit_fields %}{% endblock %}
</fieldset>

<ul class="admin_actions">
    {% block admin_edit_actions %}
    {% block admin_edit_action_list %}<li><input type="button" class="admin_action_list" value="отмена" onclick="document.location.href='{% block admin_edit_back_url %}{% endblock %}';"></li>{% endblock %}
    {% block admin_edit_action_preview %}{% if admin_edit_preview_url %}<li><input type="button" class="admin_action_preview" value="предпросмотр" onclick="pagePreview();"></li>{% endif %}{% endblock %}
    {% block admin_edit_action_save %}<li><input type="submit" name="save" value="применить" class="admin_action_save"></li>{% endblock %}
    {% block admin_edit_action_save_and_list %}<li><input type="submit" name="save_and_list" value="сохранить" class="admin_action_save_and_list"></li>{% endblock %}
    {% endblock %}
</ul>

{% if admin_edit_preview_url %}
<script>
    window.preview_url = '{{ admin_edit_preview_url }}';
</script>
{% endif %}

</form>
{% endblock %}