{% extends "admin/base.twig" %}

{% block admin_content %}
{% if empty_flag %}
    {% block admin_list_empty %}{% endblock %}
{% else %}
<table cellspacing="0" class="admin_list">
<thead>
    <tr>{% block admin_list_head %}{% endblock %}</tr>
</thead>

<tfoot>
    <tr>{% block admin_list_foot %}{% endblock %}</tr>
</tfoot>
<tbody>
    {% block admin_list_body %}{% endblock %}
</tbody>
</table>
{% block admin_list_actions %}{% endblock %}
{% endif %}
{% endblock %}