{% macro word_end (number, str1, str2, str3) %}
    {% if number > 4 and number < 21 %}str3
    {% elseif number % 10 == 1 %}str1
    {% elseif number % 10 > 1 and number % 10 < 5 %}str2
    {% else %}str3{% endif %}
{% endmacro %}

{% macro admin_bool_toggle (state, uri) %}
    <a href="{{ uri }}"><img src="/media/admin/images/{{ state ? "tick.gif" : "cross.gif" }}"
                             alt="{{ state ? "Tick" : "Cross" }}"></a>
{% endmacro %}

{% macro admin_list_head_row (name, value, params) %}
    <th id="admin_list_th_{{ name|e }}" {{ params }}>{{ value }}</th>
{% endmacro %}

{% macro admin_list_foot_rows_count (value, cols_count) %}
    <th colspan="{{ cols_count|default(1) }}">
        <div class="float-right"></div>{{ value }} {{ _self.work_end (value, "запись", "записи", "записей") }}</th>
{% endmacro %}

{% macro admin_list_body_row (values, edit_keys, actions, second) %}
    <tr class="admin_row_{{ second ? 1 : 0 }}">
        {% for key, value in values %}
            {% autoescape false %}
            {% if key in edit_keys %}
                <td><a href="{{ actions.edit.uri|escape }}">{{ value }}</a></td>
            {% else %}
                <td>{{ value }}</td>{% endif %}
            {% endautoescape %}
        {% endfor %}
        <td>
            <ul class="admin_td_actions">
                {% for key, action in actions %}
                    <li><a href="{{ action.uri }}"
                           {% if action.class %}class="{{ action.class }}"{% endif %} {% if key == "delete" %}onclick="if (confirm('Вы уверены, что хотите удалить запись?')) document.location = this.href; return false;"{% endif %} {% if action.click %}onclick="{{ action.click }}"{% endif %}><img
                                    alt="{{ action.name }}" title="{{ action.name }}"
                                    src="/media/admin/images/{{ action.icon|default(key ~ "_icon.png") }}"></a></li>
                {% endfor %}
            </ul>
        </td>
    </tr>
{% endmacro %}

{% macro admin_edit_id (value, name) %}
    <input type="hidden" name="{{ name|default (id) }}" id="id" value="{{ value }}">
{% endmacro %}

{% macro admin_field_text (name, value, size) %}
    <input type="text" name="{{ name }}" id="{{ name|replace ({"[": "_", "]": "_"}) }}" value="{{ value }}"
           size="{{ size|default (80) }}">
{% endmacro %}

{% macro admin_field_number (name, value, size) %}
    <input type="number" name="{{ name }}" id="{{ name|replace ({"[": "_", "]": "_"}) }}" value="{{ value }}"
           size="{{ size|default (80) }}">
{% endmacro %}

{% macro admin_field_bool (name, value) %}
    <input type="checkbox" name="{{ name }}" id="{{ name|replace ({"[": "_", "]": "_"}) }}"
           {% if value %}checked{% endif %}>
{% endmacro %}

{% macro admin_field_select (name, value, options, params) %}
    {% if not params.multiple %}
        <select name="{{ name }}" id="{{ name|replace ({"[": "_", "]": "_"}) }}">
            {% for label, option in options %}
                <option value="{{ option }}" {% if option == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
    {% else %}
        <div class="admin_multiple">
            {% for label, option in options %}
                {% set option_id = (name ~ '_' ~ option)|replace ({"[": "_", "]": "_"}) %}
                <label for="{{ option_id }}"><input type="checkbox" name="{{ name }}[]" id="{{ option_id }}"
                                                    value="{{ option }}"
                                                    {% if option in value %}checked{% endif %}>{{ label }}</label>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro admin_field_textarea (name, value) %}
    <textarea name="{{ name }}" id="{{ name|replace ({"[": "_", "]": "_"}) }}" rows="6" cols="80">{{ value }}</textarea>
{% endmacro %}

{% macro admin_field_date (name, value) %}
    <input type="date" name="{{ name }}" id="{{ name|replace ({"[": "_", "]": "_"}) }}" value="{{ value }}">
{% endmacro %}

{% macro admin_field_image (name, value) %}
    {% if value %}<p><img src="{{ value }}" alt=""/></p>{% endif %}<input name="{{ name }}"
                                                                          id="{{ name|replace ({"[": "_", "]": "_"}) }}"
                                                                          type="file" />
{% endmacro %}

{% macro admin_field_iframe (name, value) %}
    <iframe id="{{ name }}" src="{{ value }}" style="width:100%; border:0;"
            onload="resizeIframe ('{{ name }}');"></iframe>
{% endmacro %}

{% macro admin_field_entity (name, value, options, params) %}

{% endmacro %}

{% macro admin_edit_form_row (name, title, value, type, help, options, params) %}
    <div class="form-row">
        <label for="{{ name|replace ({"[": "_", "]": "_"}) }}" class="required">{{ title }}:</label>

        <div class="content">
            {{ params.prefix ? params.prefix : '' }}
            {% if type == "text" %} {{ _self.admin_field_text (name, value) }}
            {% elseif type == "number" %} {{ _self.admin_field_number (name, value) }}
            {% elseif type == "bool" %} {{ _self.admin_field_bool (name, value, options) }}
            {% elseif type == "select" %} {{ _self.admin_field_select (name, value, options, params) }}
            {% elseif type == "textarea" %} {{ _self.admin_field_textarea (name, value) }}
            {% elseif type == "date" %} {{ _self.admin_field_date (name, value) }}
            {% elseif type == "entity" %} {{ _self.admin_field_entity (name, value, options, params) }}
            {% elseif type == "image" %}
                {{ _self.admin_field_image (name, value) }}
                {% if params.delete and value %}<a href="{{ params.delete }}" title="удалить изображение">
                        Удалить</a>{% endif %}
            {% elseif type == "iframe" %} {{ _self.admin_field_iframe (name, value) }}
            {% endif %}
            {{ params.suffix ? params.suffix : '' }}
            {% if help %}
                <div class="admin_edit_help">{{ help }}</div>{% endif %}
        </div>
        <div style="clear: both"></div>
    </div>
{% endmacro %}

{% macro admin_edit_form_errors (errors) %}
    {% if errors|length > 0 %}
        <div class="form-errors">
            {% for error in errors %}
                <div class="form-error">{{ error }}</div>{% endfor %}
        </div>
    {% endif %}
{% endmacro %}