{% extends "admin/layouts/edit.twig" %}

{% block scripts %}
    <script type="text/javascript" src="/media/admin/js/ckeditor/ckeditor.js?{{ site_version }}"></script>
    <script type="text/javascript" src="/media/admin/js/ckeditor/adapters/jquery.js?{{ site_version }}"></script>
{% endblock %}

{% block content_title %}Добавление события{% endblock %}

{% block admin_edit_fields %}
{% include 'admin/event/fields.twig' %}
{% endblock %}

{% block admin_edit_back_url %}/admin/events{% endblock %}
{% set admin_edit_preview_url = '/admin/events/preview' %}