{% extends "admin/layouts/edit.twig" %}
{% import "admin/layouts/macros.twig" as admin %}

{% block scripts %}
    <script type="text/javascript" src="/media/admin/js/ckeditor/ckeditor.js?{{ site_version }}"></script>
    <script type="text/javascript" src="/media/admin/js/ckeditor/adapters/jquery.js?{{ site_version }}"></script>
{% endblock %}

{% block content_title %}Редактирование события {{ data.name }}{% endblock %}

{% block admin_edit_id %}<input type="hidden" name="event[id]" value="{{ data.id }}" />{% endblock %}

{% block admin_edit_fields %}
{% include 'admin/event/fields.twig' %}
{% endblock %}

{% block admin_edit_back_url %}/admin/events{% endblock %}
{% set admin_edit_preview_url = '/admin/events/preview' %}