{% import "admin/layouts/macros.twig" as admin %}

{{ admin.admin_edit_form_errors  (errors) }}

{{ admin.admin_edit_form_row  ('event[visible]', 'Видно на сайте', data.visible, 'bool') }}
{{ admin.admin_edit_form_row  ('event[name]', 'Название', data.name, 'text') }}
{{ admin.admin_edit_form_row  ('event[slug]', 'Адрес страницы', data.slug, 'text', '', [], {'prefix': 'http://' ~ domain ~ '/event/'}) }}
{{ admin.admin_edit_form_row  ('event[type]', 'Тип', data.type, 'select', '', types) }}
{{ admin.admin_edit_form_row  ('event[date]', 'Дата', data.date, 'date') }}
{{ admin.admin_edit_form_row  ('event[artists]', 'Художники', data.artists, 'select', '', artists, {'multiple':true}) }}
{{ admin.admin_edit_form_row  ('event[content]', 'Содержимое страницы', data.content, 'textarea') }}
