{% extends "admin/layouts/list.twig" %}
{% import "admin/layouts/macros.twig" as admin %}

{% set empty_flag = data is empty %}

{% block content_title %}Список событий{% endblock %}

{% block admin_list_empty %}
<div id="empty_list">Вы пока не добавляли ни одного события! Хотите <a href="/admin/events/add">добавить</a> первое?</div>
{% endblock %}

{% block admin_list_actions %}
<ul class="admin_actions">
    <li><input class="admin_action_create" value="создать" type="button" onclick="document.location.href='/admin/events/add';"></li>
</ul>
{% endblock %}

{% block admin_list_head %}
    {{ admin.admin_list_head_row ('name', 'Название') }}
    {{ admin.admin_list_head_row ('date', 'Дата') }}
    {{ admin.admin_list_head_row ('type', 'Тип') }}
    {{ admin.admin_list_head_row ('visible', 'Видно на сайте') }}
    {{ admin.admin_list_head_row ('actions', 'Действия') }}
{% endblock %}

{% block admin_list_body %}
    {% for item in data %}
    {{ admin.admin_list_body_row (
        {
            'name'  : item.name,
            'date'  : item.date,
            'type'  : types[item.type],
            'visible' : admin.admin_bool_toggle (item.visible == 1, '/admin/events/' ~ item.id ~ '/visible'),
        },
        ['name', 'date', 'type', 'visible'],
        {
            'edit' : {
                'title' : 'редактировать',
                'uri'   : '/admin/events/' ~ item.id ~ '/edit'
            },

            'delete' : {
                'title' : 'удалить',
                'uri'   : '/admin/events/' ~ item.id ~ '/delete'
            },

            'up' : {
                'title' : 'переместить вверх',
                'uri'   : '/admin/events/up/' ~ item.id,
                'icon'  : 'up_icon.gif',
                'class' : 'order_action_up',
            },

            'down' : {
                'title' : 'переместить вниз',
                'uri'   : '/admin/events/down/' ~ item.id,
                'icon'  : 'down_icon.gif',
                'class' : 'order_action_down',
            },
        },
        loop.index % 2
    ) }}
    {% endfor %}
{% endblock %}
