{% extends "admin/layouts/edit.twig" %}

{% block scripts %}
    <script type="text/javascript" src="/media/admin/js/ckeditor/ckeditor.js?{{ site_version }}"></script>
    <script type="text/javascript" src="/media/admin/js/ckeditor/adapters/jquery.js?{{ site_version }}"></script>
{% endblock %}

{% block content_title %}Добавление художника{% endblock %}

{% block admin_edit_fields %}
{% include 'admin/artist/fields.twig' %}
{% endblock %}

{% block admin_edit_back_url %}/admin/artists{% endblock %}