{% extends "admin/layouts/edit.twig" %}
{% import "admin/layouts/macros.twig" as admin %}

{% block scripts %}
    <script type="text/javascript" src="/media/admin/js/ckeditor/ckeditor.js?{{ site_version }}"></script>
    <script type="text/javascript" src="/media/admin/js/ckeditor/adapters/jquery.js?{{ site_version }}"></script>
{% endblock %}

{% block content_title %}Редактирование художника {{ artist.name }}{% endblock %}

{% block admin_edit_id %}<input type="hidden" name="artist[id]" value="{{ artist.id }}" />{% endblock %}

{% block admin_edit_fields %}
{% include 'admin/artist/fields.twig' %}
{{ admin.admin_edit_form_row  ('looks', 'Работы', '/admin/artists/' ~ artist.id ~ '/gallery', 'iframe') }}
{% endblock %}

{% block admin_edit_back_url %}/admin/artists{% endblock %}