{% import "admin/layouts/macros.twig" as admin %}

{{ admin.admin_edit_form_errors  (errors) }}

{{ admin.admin_edit_form_row  ('image', 'Фотка', artist.image_key ? '/image/artists/admin_edit/' ~ artist.image_key : '', 'image', '', [], {'delete': '/admin/artists/' ~ artist.id ~ '/image/delete'}) }}
{{ admin.admin_edit_form_row  ('artist[visible]', 'Виден на сайте', artist.visible, 'bool') }}
{{ admin.admin_edit_form_row  ('artist[name]', 'Имя', artist.name, 'text') }}
{{ admin.admin_edit_form_row  ('artist[slug]', 'Адрес страницы', artist.slug, 'text', '', [], {'prefix': 'http:/' ~ domain ~ '/artist/'}) }}
{{ admin.admin_edit_form_row  ('artist[about]', 'О себе', artist.about, 'textarea') }}