{% extends "admin/layouts/list.twig" %}
{% import "admin/layouts/macros.twig" as admin %}

{% set empty_flag = artists is empty %}

{% block content_title %}Список художников{% endblock %}

{% block admin_list_empty %}
<div id="empty_list">Вы пока не добавляли ни одной записи о художнике! Хотите <a href="/admin/artists/add">добавить</a> первую?</div>
{% endblock %}

{% block admin_list_actions %}
<ul class="admin_actions">
    <li><input class="admin_action_create" value="создать" type="button" onclick="document.location.href='/admin/artists/add';"></li>
</ul>
{% endblock %}

{% block admin_list_head %}
    {{ admin.admin_list_head_row ('photo', 'Фотка') }}
    {{ admin.admin_list_head_row ('name', 'Имя') }}
    {{ admin.admin_list_head_row ('visible', 'Виден на сайте') }}
    {{ admin.admin_list_head_row ('actions', 'Действия') }}
{% endblock %}

{% block admin_list_body %}
    {% for artist in artists %}
    {{ admin.admin_list_body_row (
        {
            'image'  : artist.image_key ? "<img src='/image/artists/admin_list/" ~ artist.image_key ~ "' />" : "",
            'name'  : artist.name,
            'visible' : admin.admin_bool_toggle (artist.visible == 1, '/admin/artists/' ~ artist.id ~ '/visible'),
        },
        ['image', 'name'],
        {
            'edit' : {
                'title' : 'редактировать',
                'uri'   : '/admin/artists/' ~ artist.id ~ '/edit'
            },

            'delete' : {
                'title' : 'удалить',
                'uri'   : '/admin/artists/' ~ artist.id ~ '/delete'
            },

            'up' : {
                'title' : 'переместить вверх',
                'uri'   : '/admin/artists/up/' ~ artist.id,
                'icon'  : 'up_icon.gif',
                'class' : 'order_action_up',
            },

            'down' : {
                'title' : 'переместить вниз',
                'uri'   : '/admin/artists/down/' ~ artist.id,
                'icon'  : 'down_icon.gif',
                'class' : 'order_action_down',
            },
        },
        loop.index % 2
    ) }}
    {% endfor %}
{% endblock %}
