<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Доски - Краски. Панель управления сайтом</title>

    <link rel="stylesheet" href="/media/admin/style.css?{{ site_version }}" media="all" type="text/css" />
    <link rel="stylesheet" href="/media/admin/admin.css?{{ site_version }}" media="all" type="text/css" />

    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="/media/admin/js/common.js?{{ site_version }}"></script>
    {% block scripts %}{% endblock %}
</head>
<body>
    <header>
        <h1>Панель управления сайтом</h1>
        <ul class="admin_menu">
            {% for uri, data in main_menu %}
            <li class="admin_mainitem {% if main_menu_current == uri %}current{% endif %}">
                {% if data.title is defined %}<a class="{{ data.class }}" href="/admin/{{ uri }}" {{ data.html_params }}>{{ data.title|lower }}</a>
                {% else %}<a href="/admin/{{ uri }}">{{ data|title }}</a>{% endif %}
            </li>{% endfor %}
        </ul>
        <div style="clear: both"></div>

        <div id="user-block">Вы — <b>{{ user.username }}</b> | <a href="/">на сайт</a> | <a href="/admin/logout">выйти</a></div>
    </header>
    
    <div id="admin_container">
        <h1>{% block content_title %}{% endblock %}</h1>

        <div id="admin_header">
            {% block admin_header %}{% endblock %}
        </div>

        <div id="admin_bar">
            {% block admin_bar %}{% endblock %}
        </div>

        <div id="admin_content">
            {% block admin_content %}{% endblock %}
        </div>

        <div id="admin_footer">
            {% block admin_footer %}{% endblock %}
        </div>
    </div>

    <a id="made-by" href="http://bigmilk.ru">
        <img id="bigmilk-logo" src="http://bigmilk.ru/bigmilk-small.png" alt="Студия BigMilk">
        <p>Сделано в Big Milk</p>
    </a>
</body>
</html>