{% extends "admin/layouts/edit.twig" %}
{% import "admin/layouts/macros.twig" as admin %}

{% block scripts %}
    <script type="text/javascript" src="/media/admin/js/ckeditor/ckeditor.js?{{ site_version }}"></script>
    <script type="text/javascript" src="/media/admin/js/ckeditor/adapters/jquery.js?{{ site_version }}"></script>
{% endblock %}

{% block content_title %}Редактирование главной страницы{% endblock %}

{% block admin_edit_fields %}
    {{ admin.admin_edit_form_row  ('mainfeed[content]', 'Содержимое', content, 'textarea') }}
{% endblock %}

{% block admin_edit_action_list %}{% endblock %}
{% block admin_edit_action_save %}{% endblock %}
{% set admin_edit_preview_url = '/admin/mainfeed/preview' %}